@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', monospace;
}

.head {
  padding-inline: 1.5rem;
  min-height: 2.75rem;
  font-family: helvetica;
  display: flex;
  align-items: stretch;
  user-select: none;
  font-size: 0.75rem;
  justify-content: space-between;
  gap: 1.5em;
  background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 45%,#72aa00 100%);
}

.head .logo {
  align-self: center;
}

ul li {
    list-style: none;
    text-decoration: none;
}

.head .left {
    display: flex;
    gap: 1.5rem;
}

.head_1 {
  display: flex;
  gap: 1rem;
}

.search {
  display: flex;
  align-self: center;
}

.search_input {
  all: unset;
  padding: 0.25em 0.5em;
  background-color: #fff;
}

.search_input::placeholder {
  color: #9ca3af;
}
.search_btn {
  transition: all 0.2s ease-in-out;
  background-color: #008cba;
  color: #fff;
  border: none;
  padding-inline: 1.5em;
  cursor: pointer;
}
.search_btn:is(:hover) {
  background-color: #006687;
}

.head .links {
  color: white;
  position: relative;
  display: flex;
  place-items: left;
  align-self: center;
  cursor: pointer;
}

.drop-list {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: linear-gradient(to bottom, #bfd255 0%,#8eb92a 45%,#72aa00 100%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-decoration: none;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 45%,#72aa00 100%);

  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }